{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Document</title>
    {% block extrahead %}{% endblock %}

    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap" rel="stylesheet">

</head>
<body>
    


<header id='header'>
    <navbar class="navbar">
        <p class="title">ORT Online</p>
        <ul class="nav_list">
            {% url 'tasks-list' as index %}
            <li class="nav_item">Hello, {{user.username}}</li>
            <li class="{% if request.path == index %}nav_item{% else %} home{% endif %}"><a href="{% url 'tasks-list' %}">Главная</a></li>
            <li class="nav_item"><a href="#">Подготовка</a></li>
            <li class="nav_item"><a href="#">Контакты</a></li>
            {% if user.is_authenticated %}
            <li class="nav_item"><a href="{% url 'review' %}">Профиль</a></li>
            <li class="nav_item"><a href="#"><img src="{% static 'images/user.png' %}" class="avatar"></a></li>
            {% else %}
            <li class="nav_item"><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </navbar>
</header>

{% autoescape off %}
{% block 'content' %}
{% endblock %}
{% endautoescape %}


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="{% static 'js/question.js' %}"></script>
<script src="{% static 'js/timer.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML"></script>

</body>
</html>