{% extends 'base.html' %}
{% block content %}
{% for i in all_tasks %}
    <h1>{{i.номер}}</h1>
    <p>{{i.имя}}</p>
    <p>{{i.балл}}</p>
    <a href="{% url 'questions-list' i.id %}">Start All</a>
    <a href="{% url 'firstmath-list' i.id %}">Start firts math</a> 
    <a href="{% url 'secondmath-list' i.id %}">Start second math</a>
    <a href="{% url 'firstrussia-list' i.id %}">Start first russia</a>
    <a href="{% url 'secondrussia-list' i.id %}">Start second russia</a>
    <a href="{% url 'thirdrussia-list' i.id %}">Start third russia</a>
{% endfor %}
{% endblock content %}
